<div class='board'>

  <div class='board-label'>ユーザー登録</div>
  <div class='box'>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="sign-up-field">
        <%= f.label :name, "名前" %><br />
        <div id='user_name_warn'></div>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="sign-up-field">
        <%= f.label :email, "Email" %><br />
        <div id='user_email_warn'></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="sign-up-field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <span>（英数をそれぞれ1文字含む<%= @minimum_password_length %>文字以上）</span>
        <% end %><br />
        <div id='user_password_warn'></div>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="sign-up-field">
        <%= f.label :password_confirmation, "確認のためパスワードを再入力"%><br />
        <div id='user_password_confirmation_warn'></div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class='submit-line'>
        <div class='image submit-btn unclickable' id='user_submit_btn'>
          <div class='submit-text unclickable' id='submit_text_new'>登録</div>
        </div>
      </div>
    <% end %>
  </div>
</div>