<div class='game-content'>
  <%= link_to game_path(games, anchor: 'main') do %>
    <div class='game-container'>
      <div class='game-images'>
        <% unless games.stages[0].nil? %>
          <%# <%= image_tag games.stages[0].image.variant(resize: '200x200'), class: "stage-img" %>
        <% end %>
        <% unless games.game_objects[0].nil? %>
          <div class='player-img-container'>
            <%# <%= image_tag games.game_objects.where(player: true)[0].image.variant(resize: '200x200'), class: "player-img" %> %>
          </div>
        <% end %>
        <% unless games.game_objects[0].nil? %>
          <div class='object-img-container'>
            <%# <%= image_tag games.game_objects.where(object: true)[0].image.variant(resize: '200x200'), class: "object-img" %> %>
          </div>
        <% end %>
      </div>
      <div class='game-info'>
        <h3 class='game-name'>
          <%= games.name if games %>
        </h3>
      </div>
    </div>
  <% end %>
</div>