<%= render 'shared/header' %>
<div class='main'>
  <div class='main-container'>
    <div class='introduce'>
    <img class='introduce-img' src='images/introduce.JPG'>
    </div>

    <%# games一覧 %>
    <div class='game-contents'>
      <%= render partial: 'shared/games', collection: @games %>
    </div>
    <%# games一覧 %>
    <div class='gcv'><%= @result %><div>
  </div>
</div>

<%# games#new ボタン %>
<% if user_signed_in? %>
  <div class='create-btn' id='create-btn'>
    <span class='create-btn-text'>作る</span>
  </div>
<% end %>

<%# games#new モーダル %>
<div class='modal-background' id='modal-background'>
  <div class='modal' id='modal'>
    <div class='modal-content'>

      <%# Game#newのフォーム %>
      <%= form_with id: 'game_form', url: games_path, class: 'game-form', local: true do |f| %>

      <%#= render 'shared/error_messages', model: @item %>
      <div class='form-list'>
        <div class='image-container' id='stageImageContainer'>
          <label class='label' id='stage_label'>
            <p class='label-plus'>+</p>
            <p class='label-text' id='stage-click_or_dd'>
            クリックかドラッグ＆ドロップでステージ用の画像ファイルをアップロード
            </p>
            <p class='label-text hidden' id='stage-please_drop'>
            画像ファイルをドロップしてください
            </p>
            <%= f.file_field :stage_input, class: 'hidden'%>
          </label>
        </div>
        <div class='image-container' id='playerImageContainer'>
          <label class='label' id='player_label'>
            <p class='label-plus'>+</p>
            <p class='label-text' id='player-click_or_dd'>
            クリックかドラッグ＆ドロップでプレイヤー用の画像ファイルをアップロード
            </p>
            <p class='label-text hidden' id='player-please_drop'>
            画像ファイルをドロップしてください
            </p>
            <%= f.file_field :player_input, class: 'hidden'%>
          </label>
        </div>
        <div class='image-container' id='objectImageContainer'>
          <label class='label' id='object_label'>
            <p class='label-plus'>+</p>
            <p class='label-text' id='object-click_or_dd'>
            クリックかドラッグ＆ドロップでオブジェクト用の画像ファイルをアップロード
            </p>
            <p class='label-text hidden' id='object-please_drop'>
            画像ファイルをドロップしてください
            </p>
            <%= f.file_field :object_input, class: 'hidden'%>
          </label>
        </div>
        <div id='textContainer'>
          <%= f.text_area :name, class:'name', placeholder:'ゲームのタイトル（40文字まで)', maxlength:'40' %>
          <%= f.text_area :text, class:'text', placeholder:'ゲームの説明' ,rows:'3' ,maxlength:'1000' %>
        </div>
        <%# png画像変換用のcanvas %>
        <div class='submit-line'>
          <%= f.submit 'これで遊ぶ' ,class:"submit-btn" %>
        </div>
      </div>
      <% end %>
      <%# Game#newのフォーム %>

      <div class='exit-btn' id='exit-btn'>×</div>

    </div>
  </div>
</div>
<%# png画像変換用のcanvas %>
<canvas id='canvas' class='hidden'></canvas>
