<%= render 'shared/header' %>
<div class='main'>
  <div class='main-container'>
    <div class='introduce'>
    </div>

    <%# games一覧 %>
    <div class='game-contents'>
      <%= render partial: 'shared/games', collection: @games %>
    </div>
    <%# games一覧 %>

  </div>
</div>

<%# games#new ボタン %>
<% if user_signed_in? %>
  <div class='create-btn' id='create-btn'>
    <span class='create-btn-text'>作る</span>
  </div>
<% end %>

<%# games#new モーダル %>
<div class='modal-background' id='modal-background'>
  <div class='modal' id='modal'>
    <div class='modal-content'>

      <%# Game#newのフォーム %>
      <%= form_with id: 'game_form', url: games_path, local: true do |f| %>

      <%#= render 'shared/error_messages', model: @item %>
      <ul class='form-list'>
        <li>
          <div class='form-title'>
            ステージ
          </div>
          <div class='click-upload'>
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :stage_input %>
          </div>
          <div id='stageImageContainer'>
          </div>
        </li>
        <li>
          <div class='form-title'>
            プレイヤー
          </div>
          <div class='click-upload'>
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :player_input %>
          </div>
          <div id='playerImageContainer'>
          </div>
        </li>
        <li>
          <div class='form-title'>
            タイトル
          </div>
          <%= f.text_area :name, class:'name', placeholder:'ゲームのタイトル（40文字まで)', maxlength:'40' %>
        </li>
        <li>
          <div class='form-title'>
            説明文
          </div>
            <%= f.text_area :text, class:'text', placeholder:'ゲームの説明' ,rows:'3' ,maxlength:'1000' %>
        </li>
        <li>
          <%= f.submit '遊ぶ' ,class:"sell-btn" %>
        </li>
        <%# png画像変換用のcanvas %>
        <canvas id='canvas' class='hidden'></canvas>
      <% end %>
      <%# Game#newのフォーム %>

      <div class='exit-btn' id='exit-btn'>x</div>

    </div>
  </div>
</div>